@import '../../../_shared/styles/mixins.scss';
@import '../../../_shared/styles/vars.scss';

.miniCalendar {
    z-index: 999;
    position: absolute;
    top: 60px;
    width: 346px;
    padding: 32px 16px 40px;
    border-radius: 12px;
    border: 1px solid $main-gray;
    background-color: $main-white;
    @include display-setting(column, center, center);
}
.month {
    width: 100%;
    margin-bottom: 19px;
    @include display-setting(row, space-between, center);
    button {
        width: 24px;
        height: 24px;   
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.dayNames {
    // width: 100%;
    color: $main-gray;
    text-transform: lowercase;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 24px;
    @include font-setting(400, 14px, 120%);  
}
.dayName {
    width: 24px;
    height: 24px;
}
.cells {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 24px;
    @include font-setting(400, 18px, 100%);  
    letter-spacing: -0.36px;
}
.cell {
    width: 24px;
    height: 24px;
    cursor: pointer;
    align-items: center;
    background-color: $main-gray;
    border-radius: 4px;
    @include display-setting(row, center, center);
}
.arrowForwardBtn {
    background-image: url(../../../../../public/arrow-forward.svg);
}
.arrowBackBtn {
    background-image: url(../../../../../public/arrow-back.svg);
}
.submitDateBtn {
    width: 100%;
    margin-top: 32px;
    padding: 21px 32px;
    color: $main-white;
    background-color: $main-black;
    border-radius: 12px;
    @include font-setting(400, 18px, 100%);  
}
