@import '../_shared/styles/mixins.scss';
@import '../_shared/styles/vars.scss';

.dayNames {
    margin-top: 104px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.dayName {
    padding-bottom: 16px;
    @include font-setting(400, 24px, 100%);  
    @include display-setting(row, flex-end, baseline);
}
.cells {
    margin-bottom: 104px;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
    border: 1px solid $main-gray;
    background-color: $main-gray;
    border-radius: 24px;
    div:nth-child(7n-1) {
        background-color: $light-gray;
    }
    div:nth-child(7n) {
        background-color: $light-gray;
    }
}

.cell {
    height: 128px;
    overflow: hidden;
    padding: 12px 12px 18px 0;
    background-color:$main-white;
    @include display-setting(column, flex-start, flex-end);
    &:first-child {
        border-radius: 24px 0 0 0;
    }
    &:nth-child(7) {
        border-radius: 0 24px 0 0;
    }
    &:nth-child(36) {
        border-radius: 0 0 0 24px;
    }
    &:nth-child(42) {
        border-radius: 0 0 24px 0;
    }
}
.events {
    @include display-setting(column, flex-start, flex-end);
}
.event, .eventInitiator {
    position: relative;
    max-width: 102px;
    cursor: pointer;
    padding: 0 6px 0 18px;
    margin-bottom: 4px;
    border-radius: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include font-setting(500, 20px, 140%);  
    letter-spacing: -0.4px;
}
.event {
    background-color: $buttons-gray;
    color: $main-black
}
.eventInitiator {
    background-color: $main-accent;
    color: $main-white;
    img {
        position: absolute;
        top: 5px;
        left: 1px;
    }
}
.userPaticipant {
    position: absolute;
    top: 8px;
    left: 4px;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 8px;
    background-color: $main-accent;
}
@media (min-width: 1600px) {
    .event {
        max-width: 151px;
    }
}