@import '../_shared/styles/mixins.scss';
@import '../_shared/styles/vars.scss';


.modalAuthorization {
    width: 100%;
    @include display-setting(column, center, center);
    h2 {
        margin: 0;
        padding: 0;
        @include font-setting(400, 36px, 100%);  
    }
    input {
        margin: 40px 0 48px 0;
        width: 314px;
        height: 37px;
        line-height: 1;
        padding: 24px 16px 10px; 
        border-radius: 12px;
        border: 1px solid $main-black;
    }
    label {
        position: absolute;
        top: 40px;
        left: 6px;
        height: 37px;
        padding: 10px;
        pointer-events: none;
        color: $main-gray;
    }
}
.modalInput {
    position: relative;
}
.modalContinueBtn {
    width: 346px;
    padding: 21px 32px;
    color: $main-white;
    background-color: $main-black;
    border-radius: 12px;
    @include font-setting(400, 18px, 100%);  
}
.errorMessageEmail {
    position: absolute;
    top: 120px;
    color: $main-accent;
    @include font-setting(400, 14px, 120%);
    letter-spacing: -0.28px;
}
.regInfo {
    width: 53%;
    margin-top: 16px;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: $light-gray;
    text-wrap: wrap;
    @include font-setting(400, 14px, 120%);  
    @include display-setting(row, flex-start, center);
    img {
        margin-right: 8px;
    }
}
.modalInputRepeat {
    position: relative;
    input {
        margin-top: 0;
        padding: 18px 16px; 
        &::-moz-placeholder, &::placeholder {
            color: $main-gray;
            @include font-setting(400, 20px, 110%);  
        }
        &:focus {
            padding-top: 24px;
            padding-bottom: 10px;
            &::placeholder {
                color: transparent;
            }
        }
        &:focus~.authLable {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    label {
        top: 0;
        transform-origin: 0 0;
        transition: opacity .15s ease-in-out, transform .15s ease-in-out;
        opacity: 0;
        transform: translateY(20px);
    }
}
.passwordControl {
	position: absolute;
	top: 60px;
	right: 25px;
	display: inline-block;
	width: 32px;
	height: 32px;
    &:hover {
        cursor: pointer;
    }
}