@import '../_shared/styles/mixins.scss';
@import '../_shared/styles/vars.scss';

.modalCreateEvent {
    width: 947px;
    @include display-setting(column, flex-start, flex-start);
    h2 {
        align-self: center;
        margin-top: 0;
        margin-bottom: 44px;
        @include font-setting(400, 36px, 100%);  
        letter-spacing: -0.72px;
    }
    input, textarea{
        width: 548px;
        padding: 27px 16px;
        border-radius: 12px;
        border: 1px solid $main-gray;
        resize: none;
        scrollbar-width: none;
        @include font-setting(400, 16px, 110%);  
    }
    input[type=file] {
        padding: 0;
        height: 170px;
        width: 582px;      
        opacity: 0;
    }
    input[type=time] {
        &::placeholder {
            display: none;
        }
    }
    label {
        position: absolute;
        height: 37px;
        padding: 10px;
        pointer-events: none;
        color: $main-gray;
        @include font-setting(400, 20px, 110%);  
        letter-spacing: -0.4px;
        opacity: 1;
        transition: opacity .15s ease-in-out, transform .15s ease-in-out;
        transform-origin: 0 0;
        transform: translateY(10px);
    }
}
.eventForm {
    @include display-setting(row, space-between, flex-start);
}
.required {
    color: $main-accent;
}
.eventDescriptionInfo {
    width: 580px;
    margin-right: 22px;
    textarea {
        height: 107px;
    }
}
.eventInfoItem {
    position: relative;
    margin-bottom: 32px;
    input#eventPartisipants { 
        height: 22px;
    }
    input, textarea {
        margin-top: 0;
        padding: 27px 16px 18px; 
        &::placeholder {
            color: transparent;
        }
        &:focus, &:not(:placeholder-shown) {
            padding-top: 27px;
            padding-bottom: 11px;
            scrollbar-width: thin;
        }
        &:focus~.eventLable, &:not(:placeholder-shown)~.eventLable {
            transform: translateY(-3px);
            @include font-setting(400, 16px, 110%); 
        }
    }
    label {
        top: 3px;
        left: 7px;
    }
}
.participantsInfoItem {
    position: relative;
    label {
        top: 0;
        left: 7px;
        @include font-setting(400, 14px, 100%);  
        transform: translateY(-3px);
    }
}
.eventParticipants {
    z-index: 999;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 8px;
    padding: 8px 8px 12px;
    width: 344px;
    height: max-content;
    max-height: 240px;
    background-color: $main-white;
    border-radius: 12px;
    border: 1px solid $main-gray;
    scrollbar-width: none;
    ::-webkit-scrollbar-thumb {
        width: 3px;
        height: 3px;
    }
    ::-webkit-scrollbar-button {
        display: none;
    }
    ::-webkit-scrollbar {
        width: 0;
    }
}
.participantInfo {
    width: 309px;
    height: 40px;
    padding: 8px;
    // border-radius: 12px;
    @include display-setting(row, flex-start, center);
    &:hover {
        cursor: pointer;
        background-color: $light-gray;
        transition: 0.3s;
    }
    .participantImg {
        width: 40px;
        height: 40px;
        margin-right: 12px;
        border-radius: 40px;
        background-color: $buttons-gray;
        background-size: 150% 100%;
        background-position: center;
    }
}
.chosenParticipants {
    position: absolute;
    width: 540px;
    height: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 23px;
    left: 16px;
    @include display-setting(row, flex-start, center);
    flex-wrap: wrap;
    scrollbar-width: thin;
    &::-webkit-scrollbar-button {
        display: none;
    }
    &::-webkit-scrollbar {
        width: 0;
    }
}
.chosenParticipant {
    margin-right: 8px;
    margin-bottom: 8px;
    position: relative;
    width: max-content;
    height: 30px;
    padding-right: 12px;
    border-radius: 30px;
    background-color: $buttons-gray;
    @include display-setting(row, flex-start, center);
    .chosenParticipantImg {
        width: 30px;
        height: 30px;
        margin-right: 4px;
        border-radius: 30px;
        background-color: $main-gray;
        background-size: 150% 100%;
        background-position: center;
    }
    button {
        opacity: 0;
    }
    &:hover {
        cursor: pointer;
        button {
            opacity: 1;
        }
    }
    span {
        margin-top: 4px;
    }
}
.deleteParticipantBtn {
    position: absolute;
    right: 3px;
    transition: opacity 800ms ease;
    border-radius: 30px;
    backdrop-filter: blur(3px);
        -webkit-box-shadow: -10px 0px 13px -7px $main-white, 10px 0px 13px -7px $main-white, inset 40px 4px 22px 19px rgba($buttons-gray,0.67); 
    box-shadow: -10px 0px 13px -7px $main-white, 10px 0px 13px -7px $main-white, inset 40px 4px 22px 19px rgba($buttons-gray,0.67);
    @include display-setting(row, center, center);
    &:hover {
        cursor: pointer;
    }
    img {
        z-index: -1;
    }
}
.filesInfoItem {
    position: relative;
    width: 548px;
    label {
        top: -4px;
        left: 0;
        width: 65%;
        padding: 64px 113px;
        text-align: center;
        text-wrap: nowrap;
        border: 1px dashed $main-gray;
        border-radius: 12px;
        // transform-origin: 0 0;
        // @include font-setting(400, 20px, 110%);  
    }
}
.eventFileError {
    color: $main-accent;
    text-align: center;
    @include display-setting(column, center, center);
}
.eventOrgInfo {
    input[type=time], input[type=text] {
        max-width: 346px;
    }
}
.eventPhotos {
    margin-top: 40px;
    margin-left: 23px;
    width: 279px;
    @include display-setting(row, space-between, flex-start);
    flex-wrap: wrap;
    img {
        border-radius: 12px;
        &:nth-child(1), &:nth-child(2) {
            margin-bottom: 12px;
        }
    }
}
.eventPhotoPreview {
    position: relative;
    button {
        opacity: 1;
    }
}
.deletePhotoBtn {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 5px;
    top: 5px;
    background-image: url('../../../public/delete-photo.svg');
    background-size: contain;
    background-position: center;
}
.eventDates {
    position: relative;
    margin-bottom: 32px;
    @include display-setting(row, space-between, baseline);
}
.eventDate {
    position: relative;
    input {
        cursor: pointer;
        padding: 15px 16px 9px;
        width: 149px;
        height: 33px;
        background: url('../../../public/input-calendar.svg') $main-white no-repeat 90% 50%;
        &::placeholder {
            color: transparent;
            @include font-setting(400, 16px, 110%);
        }
        &:focus, &:not(:placeholder-shown) {
            &::placeholder {
                color: $main-black;
            }
        }
        &:focus~.labelStartDate, &:not(:placeholder-shown)~.labelStartDate {
            transform: translateY(-5px);
            @include font-setting(400, 14px, 110%);  
        }
        &:focus~.labelEndDate, &:not(:placeholder-shown)~.labelEndDate {
            transform: translateY(-5px);
            @include font-setting(400, 14px, 110%);  
        }
    }
    label {
        top: 0;
        left: 7px;
    }
}
.eventTime {
    position: relative;
    margin-bottom: 32px;
    input {
        margin-top: 0;
        padding: 18px 16px; 
        &::placeholder {
            color: transparent;
        }
        &:focus, &:not(:placeholder-shown) {
            padding-top: 27px;
            padding-bottom: 11px;
            color: $dark-gray;
        }
        &:focus~.labelTime, &:not(:placeholder-shown)~.labelTime {
            transform: translateY(-5px);
            @include font-setting(400, 14px, 100%);  
        }
    }
    label {
        top: 0;
        left: 7px;
        // transform-origin: 0 0;
        // @include font-setting(400, 20px, 110%);  
        // transition: opacity .15s ease-in-out, transform .15s ease-in-out;
        // opacity: 1;
        // transform: translateY(10px);
    }
}
.eventInitiator {
    margin-top: 45px;
    @include display-setting(row, flex-start, center);  
    .userAvatar {
        width: 40px;
        height: 40px;
        margin-right: 12px;
        border-radius: 40px;
        background-color: $buttons-gray;
        background-size: 150% 100%;
        background-position: center;
    }
    .initiatorName {
        @include display-setting(column, flex-start, flex-start);  
        span {
            padding: 2px 4px 1px 4px;
            color: $badge-accent;
            background-color: $badge;
            border-radius: 8px;
            @include font-setting(400, 14px, 100%);  
            letter-spacing: -0.28px;
        }
    }
}
.submitEventBtn {
    margin-top: 37px;
    padding: 21px 32px;
    align-self: center;
    background-color: $main-black;
    color: $main-white;
    border-radius: 12px;
}